<h1>プロフィール編集画面</h1>
<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
        <% @user.each do |user| %>
          <p>
            <%= user.name %><br>
            <%= image_tag user.image.url %>
          </p>
        <% end %>
        <%= form_for :user, url: 'users/create'  do |f| %>
          <p><%=f.label "画像をアップロード" %><br><%= f.file_field :image %></p>
        <% end %>
    </div>
  </aside>
  
  <div class="col-md-8">
  <%= form_for(@user) do |f| %>
  
    <div class="col-md-2">
      <div class="form-group">
          <%= f.label :sex, 'Sex' %>
          <%= f.select :sex, [["男","男"],["女","女"]], class: 'form-control' %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :grade, 'Grade' %><%= f.number_field :grade, class: 'form-inline' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :department, 'Department' %>
        <%= f.select :department, [["電気電子生命学科","電気電子生命学科"],["機械工学科","機械工学科"],["機械情報工学科","機械情報工学科"],["建築学科","建築学科"],["応用化学科","応用化学科"],["情報科学科","情報科学科"],["物理学科","物理学科"],["数学科","数学科"],["農学部","農学部"]], class: 'form-control' %>
      </div>
    </div>
    
      
      
    <div class="form-group">
      <%= f.label :introduce,'自己紹介' %>
      <%= f.text_area :introduce, :maxlength => "255" , :size => "80x5" , class:'form-control' %>
    </div>
    
    <%= f.submit 'プロフィール編集を完了する',class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
